@use '@/sass/variaveis' as *;

.titulo {
    color: rgba(32, 32, 32, 0.5);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.375rem;
    text-align: center;

    strong {
        color: $preto;
        display: inline-block;
        font-family: $fonte-secundaria;
        font-size: 5.125rem;
        font-weight: 900;
        margin-top: 0.75rem;
    }
}

.controles {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
