@use '@/sass/variaveis' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    $w: 1px; // Largura da linha
    $n: 18; // Numero de linhas
    background: linear-gradient(90deg, #0000 calc(100% - #{$w}), #c4c4c433 0);
    background-size: calc((100% - #{$n} * #{$w}) / (#{$n} + 1) + #{$w}) 100%;
    font-family: $fonte-principal;
}

button {
    cursor: pointer;
}

#root {
    background-image: url('images/background.png'), url('images/hero-image.png'), url('images/body-shape.svg');
    background-position: left top, 64.25% top, right top;
    background-repeat: no-repeat;
    background-size: cover, auto, 49.27%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
